<div id="myCarousel" class="carousel slide" data-ride="carousel" style="margin-top: -20px;">
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1" class=""></li>
    <li data-target="#myCarousel" data-slide-to="2" class=""></li>
  </ol>
  <div class="carousel-inner">
    <div class="item active">
      <%= image_tag "1-slide.png", style: "margin: 0 auto;" %>
      <div class="container">
        <div class="carousel-caption">
          <h1>简单 易用</h1>
          <p>一键设置，app 扫描添加到自己的监测设备，就可以开始您的环境检测之旅了！</p>
        </div>
      </div>
    </div>
    <div class="item">
      <%= image_tag "2-slide.png", style: "margin: 0 auto;" %>
      <div class="container">
        <div class="carousel-caption">
          <h1>智能 呵护</h1>
          <p>实时空气质量检测，智能通知环境变化，呵护全家人的健康！</p>
        </div>
      </div>
    </div>
    <div class="item">
      <%= image_tag "3-slide.png", style: "margin: 0 auto;" %>
      <div class="container">
        <div class="carousel-caption">
          <h1>您专属的环境检测专家</h1>
          <p>你可以查看过去一周、一月甚至全部的环境监测数据，同时我们会为你提供历史数据的统计分析，为您提供贴心建议！</p>
          <p><a class="btn btn-lg btn-primary" href="#" role="button">立即购买>></a></p>
        </div>
      </div>
    </div>
  </div>
  <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
</div><!-- /.carousel -->
