<ul class="nav nav-pills nav-stacked" role="tablist">
  <li role="presentation" class="<%= page == 'index' ? 'active' : '' %>">
    <%= link_to '微信公众号信息', '/admin/dashboard/index' %>
  </li>
  <li role="presentation" class="<%= page == 'items' ? 'active' : '' %>">
    <%= link_to '添加自定义菜单', "#" %>
  </li>
</ul>

